@use "../../_globalColor" as *;

//? constant variables
$textFontSize: small;
$margin: 3%;
$display: inline-block;

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: clamp(2rem, 4vw, 3rem); /* approximately 32px to 48px */
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
}

.software-skill-inline {
  display: $display;
  margin-right: $margin;
  margin-bottom: $margin;
}

.software-skill-inline > i {
  color: $subTitle;
}


.software-skill-inline > i:hover {
  color: $skillsColor;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: $textFontSize;
}


.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

// ? Dark Theme configuration

.software-skill-inline-dark {
  display: $display;
  margin-right: $margin;
  margin-bottom: $margin;
}

.software-skill-inline-dark > i {
  color: $subTitleDark;
}

.software-skill-inline-dark > p {
  color: $subTitleDark;
  font-size: $textFontSize;
}

.software-skill-inline-dark > i:hover {
  color: $skillsColor;
}
.software-skill-inline-dark > i:hover ~ p {
  color: $skillsColor;
}
